<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.activiti.mapper.HistoryMapper">

	<resultMap type="com.ruoyi.activiti.vo.HiProcInsVo" id="HiProcInsVoResult">
        <result property="id"    column="id"    />
        <result property="procDefId"    column="proc_def_id"    />
        <result property="procInstId"    column="proc_inst_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="duration"    column="duration"    />
        <result property="deleteReason"    column="delete_reason"    />
        <result property="businessKey"    column="business_key"    />
        <result property="procName"    column="proc_name"    />
        <result property="result"    column="result"    />
        <result property="status"    column="status"    />
        <result property="tableId"    column="table_id"    />
        <result property="title"    column="title"    />
        <result property="userId"    column="user_id"    />
        <result property="procDefKey"    column="proc_def_key"    />
        <result property="applyer"    column="applyer"    />
    </resultMap>

    <select id="getHiProcInsListDone" resultMap="HiProcInsVoResult">
        SELECT
			hp.ID_ as id,
			hp.PROC_DEF_ID_ as proc_def_id,
			hp.PROC_INST_ID_ as proc_inst_id,
			hp.START_TIME_ as start_time,
			hp.END_TIME_ as end_time, 
			hp.DURATION_ as duration,
			hp.DELETE_REASON_ as delete_reason,
			b.id AS business_key,
			b.proc_name,
			b.result,
			b.`status`,
			b.table_id,
			b.title,
			b.user_id,
			b.proc_def_key as proc_def_key,
			b.applyer 
		FROM
			act_hi_procinst hp
			LEFT JOIN biz_business b ON hp.BUSINESS_KEY_ = b.id 
		WHERE
			hp.END_TIME_ IS NOT NULL 
		<if test="procDefKey != null and procDefKey !=''"> and b.proc_def_key=#{procDefKey}</if>
		ORDER BY hp.END_TIME_ DESC
    </select>


</mapper>