package ${package}.feign.factory;

import java.util.List;

import org.springframework.stereotype.Component;

import ${package}.domain.${className};
import ${package}.feign.I${className}Client;

import feign.hystrix.FallbackFactory;
import lombok.extern.slf4j.Slf4j;

@Slf4j
@Component
public class ${className}ClientFallbackFactory implements FallbackFactory<I${className}Client>
{
    @Override
    public I${className}Client create(Throwable throwable)
    {
        log.error(throwable.getMessage());
        return new I${className}Client()
        {
            @Override
            public ${className} select${className}ById(${primaryKey.attrType} ${primaryKey.attrname})
            {
                return null;
            }
            
            @Override
            public List<${className}> select${className}List(${className} ${classname}, PageDomain page)
            {
                return null;
            }
            
            @Override
            public int insert${className}(${className} ${classname})
            {
                return 0;
            }
            
            @Override
            public int update${className}(${className} ${classname})
            {
                return 0;
            }
       
            @Override
            public int delete${className}ByIds(String ids)
            {
                return 0;
            }
        };
    }
}
