package ${package}.feign;

import java.util.List;

import org.springframework.cloud.openfeign.FeignClient;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;

import com.ruoyi.common.constant.ServiceNameConstants;
import com.ruoyi.common.core.page.PageDomain;
import ${package}.domain.${className};
import ${package}.feign.factory.${className}ClientFallbackFactory;

/**
 * ${tableComment} Feign服务层
 * 
 * @author ${author}
 * @date ${datetime}
 */
@FeignClient(name = ServiceNameConstants.${MODULENAME}_SERVICE, fallbackFactory = ${className}ClientFallbackFactory.class) 
public interface I${className}Client
{
	String PREFIX = "${moduleName}/${classname}";
	
	@GetMapping(PREFIX + "get/{${primaryKey.attrname}}")	
	public ${className} select${className}ById(@PathVariable("${primaryKey.attrname}") ${primaryKey.attrType} ${primaryKey.attrname});
	
	@RequestMapping(PREFIX + "list")
	public List<${className}> select${className}List(@RequestParam(name = "${classname}") ${className} ${classname},@RequestParam(name = "page") PageDomain page);
	
	@PostMapping(PREFIX + "save")
	public int insert${className}(${className} ${classname});
	
	@PostMapping(PREFIX + "update")
	public int update${className}(${className} ${classname});
		
	@RequestMapping(PREFIX + "remove")
	public int delete${className}ByIds(String ids);
	
}
