import { axios } from '@/utils/request'

export const prefix = '/${moduleName}/${classname}'

export function get${className}List (parameter) {
  return axios({
    url: prefix + '/list',
    method: 'get',
    params: parameter
  })
}

export function save${className} (parameter) {
  return axios({
    url: prefix + (parameter.${primaryKey.attrname} > 0 ? '/update' : '/save'),
    method: 'post',
    data: parameter,
    headers: {
      'Content-Type': 'application/json;charset=UTF-8'
    }
  })
}

export function del${className} (parameter) {
  return axios({
    url: prefix + '/remove',
    method: 'post',
    params: parameter
  })
}
