<template>
  <a-modal
    title="操作"
    style="top: 20px;"
    :width="800"
    v-model="visible"
    :confirmLoading="confirmLoading"
    @ok="handleSubmit"
  >
    <a-form :form="form">
      <a-form-item style="display:none">
        <a-input v-decorator="['${primaryKey.attrname}']"/>
      </a-form-item>
#foreach($column in $columns)
#if($column.columnName != $primaryKey.columnName)
#if(!${column.configInfo})
      <a-form-item
        :labelCol="labelCol"
        :wrapperCol="wrapperCol"
        label="${column.columnComment}"
      >
        <a-input placeholder="${column.columnComment}" v-decorator="['${column.attrname}', {rules: [{ required: true, message: '请输入${column.columnComment}' }]}]" />
      </a-form-item>
#end
#end
#end
    </a-form>
  </a-modal>
</template>
<script>
import { save${className}, get${className}List } from '@/api/${moduleName}/${classname}'
import pick from 'lodash.pick'
export default {
  name: '${className}Modal',
  props: {
  },
  components: {
  },
  data () {
    return {
      visible: false,
      labelCol: {
        xs: { span: 24 },
        sm: { span: 5 }
      },
      wrapperCol: {
        xs: { span: 24 },
        sm: { span: 16 }
      },
      confirmLoading: false,
      mdl: {},
      form: this.$form.createForm(this)
    }
  },
  beforeCreate () {
  },
  created() {
    get${className}List(Object.assign({ deep: 0 })).then(res => {
      this.options = res.rows.map(d => {
        return { value: d.id, label: d.name, isLeaf: false }
      })
    })
  },
  methods: {
    add () {
      this.form.resetFields()
      this.edit({ ${primaryKey.attrname}: 0 })
    },
    edit (record) {
      this.mdl = Object.assign(record)
      this.visible = true
      this.$nextTick(() => {
        this.form.setFieldsValue(pick(this.mdl, #foreach($column in $columns)#if($foreach.hasNext)'${column.attrname}',#else'${column.attrname}'#end#end))
      })
    },
#set($foo="$")
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values)
          this.confirmLoading = true
          save${className}(values).then(res => {
            if (res.code === 0) {
              this.${foo}message.success('保存成功')
              this.$emit('ok')
              this.visible = false
            } else {
              this.${foo}message.success(res.msg)
            }
          }).catch(() => {
            this.$message.error('系统错误，请稍后再试')
          }).finally(() => {
            this.confirmLoading = false
          })
        }
      })
    }
  },
  watch: {
    /*
      'selectedRows': function (selectedRows) {
        this.needTotalList = this.needTotalList.map(item => {
          return {
            ...item,
            total: selectedRows.reduce( (sum, val) => {
              return sum + val[item.dataIndex]
            }, 0)
          }
        })
      }
      */
  }
}
</script>
